
*{
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    
}
body{
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
    
}
.clearboth{
    clear: both;
}
.botonesP{
    width: 328px;
    height: 60px;
    border-radius: 24px;
}
button:hover{
    cursor: pointer;
}
#cabecera{
    margin: 30px 0px 25px 25px;
    width: 70%;
}
#texto{
    border: none;
    background: none;
    resize: none;
    color: #0A3871;
    font-size: 25px;
    outline: none;
    
    
}
#texto::placeholder{
    color: #0A3871;
    font-size: 25px;
    
}
#cajaTexto{
    display: block;
    float: left;
    width: 50%;
    margin: 20px 20px 0px 150px;
}
#historial{
    display: block;
    float: right;
    background-color: white;
    width: 18%;
    height: 90%;
    margin: -65px 130px 10px 40px;
    border-radius: 32px;
    box-shadow: 10px 7px 21px 0px rgba(0,0,0,0.17);
    padding: 0px 20px;
}
#historial #muneco img{
    width: 250px;
    height: 230px;
    margin: 170px -1px 18px 6px;
}
#leyendaHistorial{
    display: block;
    text-align: center;
    margin-top: 20px;
}
#leyendaHistorial h2{
margin-bottom: 20px;
}
#leyendaHistorial p{
margin-bottom: 150px;
}

#traduccion{
    display: block;
    float: right;
    background-color: white;
    width: 18%;
    height: 90%;
    margin: -65px 130px 10px 40px;
    border-radius: 32px;
    box-shadow: 10px 7px 21px 0px rgba(0,0,0,0.17);
    display: none;
    padding: 0px 20px;
    
}
#traduccion #encriptacion{
    margin: 31px 20px 10px;
    border: none;
    resize: none;
    color: #0A3871;
    font-size: 25px;
    outline: none;
}

#botonC{
    margin: 0 auto;
    display: block;
    margin: 10px 0px 20px 38px;
}
#copiar{
    width: 200px;
    height: 50px;
    border-radius: 24px;
}
#botones{
    margin: 0 auto;
    display: block;
}
#leyendaBotones{
    color: #495057;
    margin-left: 65px;
    font-size: 12px;
}
#leyendaBotones img{
    vertical-align: -4px;
}

#encriptar{
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-weight: 300;
    border: none;
    margin: 10px 5px 5px 44px ;
}
#desencriptar{
    
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #0A3871;
    margin: 10px 5px 5px ;
}
footer{
    width: 100%;
    height: 60px;
    margin-top: 60px;
    display: block;
    background-color: #D8DFE8;
}
#redesC{
    padding: 12px;
    
}
#git{
    margin-right: 450px;
}
#link{
    margin-left: 450px;
}
#git img{
    width: 40px;
    display: flex;
    float: right;
    transition: all 500ms;
}
#link img{
    width: 40px;
    display: flex;
    float: left;
    transition: all 500ms;
}
#redesC a img:hover{
    transform: scale(1.2);
}


